<mat-toolbar color="primary">
  <span i18n>Easy Exchange Rate</span>
  <span class="spacer"></span>
  <button *ngIf="installable" mat-icon-button (click)="installClicked()">
    <mat-icon [fontIcon]="isMobile ? 'install_mobile' : 'install_desktop'" />
  </button>
  <button mat-icon-button (click)="settingsClicked()">
    <mat-icon fontIcon="settings" />
  </button>
  <button mat-icon-button (click)="shareClicked()">
    <mat-icon fontIcon="share" />
  </button>
</mat-toolbar>
<div class="main">
  <div i18n>updated {{ lastUpdated | timeInterval }}</div>
  <button i18n mat-button color="primary" (click)="clearClicked()">
    clear
  </button>
  <mat-list>
    <ng-container *ngIf="tmpCurrencyList.length">
      <h3 matSubheader i18n>Your Currencies</h3>
      <mat-list-item *ngFor="let c of tmpCurrencyList" class="currencyShowBox">
        <app-currency
          [name]="c"
          [rate]="currencyRate[c]"
          [(valueUSD)]="valueUSD"
          [(empty)]="empty"
        />
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <h3 mat-subheader i18n>More Currencies</h3>
    </ng-container>
    <mat-list-item *ngFor="let c of currencyList" class="currencyShowBox">
      <app-currency
        [name]="c"
        [rate]="currencyRate[c]"
        [(valueUSD)]="valueUSD"
        [(empty)]="empty"
      />
    </mat-list-item>
  </mat-list>
  <button
    *ngIf="tmpCurrencyList.length + currencyList.length >= 10"
    i18n
    mat-button
    color="primary"
    (click)="clearClicked()"
  >
    clear
  </button>
</div>
