<mat-toolbar color="primary">
  <span i18n>Easy Exchange Rate</span>
  <span class="spacer"></span>
  <button *ngIf="installable" mat-icon-button (click)="installClicked()">
    <mat-icon [fontIcon]="isMobile ? 'install_mobile' : 'install_desktop'" />
  </button>
  <button mat-icon-button (click)="editClicked()">
    <mat-icon fontIcon="edit" />
  </button>
  <button mat-icon-button (click)="shareClicked()">
    <mat-icon fontIcon="share" />
  </button>
</mat-toolbar>
<div class="main">
  <div i18n>updated {{ lastUpdated | timeInterval }}</div>
  <button i18n mat-button color="primary" (click)="clearClicked()">
    clear
  </button>
  <ng-container *ngIf="tmpCurrencyList.length">
    <h3 matSubheader i18n>Your Currencies</h3>
    <app-currency
      *ngFor="let c of tmpCurrencyList; let i = index"
      [code]="c"
      [rate]="currencyRate[c]"
      [(valueUSD)]="valueUSD"
      [(empty)]="empty"
      (choose)="focus = -1 - i"
      [show_close]="focus === -1 - i"
    />
    <mat-divider [inset]="true"></mat-divider>
    <h3 mat-subheader i18n>More Currencies</h3>
  </ng-container>
  <app-currency
    *ngFor="let c of currencyList; let i = index"
    [code]="c"
    [rate]="currencyRate[c]"
    [(valueUSD)]="valueUSD"
    [(empty)]="empty"
    (choose)="focus = i"
    [show_close]="focus === i"
  />
  <button
    *ngIf="tmpCurrencyList.length + currencyList.length >= 10"
    i18n
    mat-button
    color="primary"
    (click)="clearClicked()"
  >
    clear
  </button>
</div>
