<mat-form-field [floatLabel]="'always'" class="field">
  <mat-label>{{ code | currencyName | async }}</mat-label>
  <span matPrefix>&nbsp; {{ code }} &nbsp;</span>
  <input
    type="number"
    matInput
    [disabled]="rate === undefined"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (input)="valueChanged()"
    (focus)="fieldFocused()"
  />
  <button
    *ngIf="show_close && value !== null"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="value = null; valueChanged()"
  >
    <mat-icon fontIcon="close"></mat-icon>
  </button>
</mat-form-field>
