<h3 mat-dialog-title i18n>Currency List</h3>
<div mat-dialog-content>
  <mat-list cdkDropList (cdkDropListDropped)="drop($event)" class="list">
    <mat-list-item *ngFor="let c of data.list; let i = index" cdkDrag>
      <div class="item drag">
        <mat-icon fontIcon="drag_handle" cdkDragHandle></mat-icon>
        {{ c }} - {{ c | currencyName | async }}
        <span class="spacer"></span>
        <button mat-icon-button color="warn" (click)="delete(i)">
          <mat-icon fontIcon="close"></mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.list" i18n>Ok</button>
  <button mat-button [mat-dialog-close]="null" i18n>Cancel</button>
</div>
